FROM alpine:latest

RUN apk --update add --no-cache build-base git go

RUN go get golang.org/x/crypto/argon2/

VOLUME [ "/usr/lib/go/src/webapi/", "/usr/local/config/" ]

WORKDIR /usr/lib/go/src/webapi/

EXPOSE ${https_port}