version: "3"
services:
  webapi:
    container_name: ${service_name}_${http_port}
    build:
      context: ./webapi/
      dockerfile: dockerfile
    restart: always
    ports:
      - "${http_port}:${http_port}"
      - "${mx_port}:587"
    volumes:
      - ./config/:/usr/local/config/
      - ./webapi/:/usr/lib/go/src/webapi/
    environment:
      - CONFIG_FILEPATH=${filepath}
      - CONFIG_FILEPATH_TEST=${filepath_test}
    command: "go run /usr/lib/go/src/webapi/main.go"
